.btn {
  background-color: darkblue;
  border: none;
  border-radius: 0.1rem;
  color: white;
  outline: none;
  text-transform: uppercase;
  padding: 0.6rem 1.6rem;
  display: block;
  margin: auto;
  margin-top: 1.2rem;
}
